.custom_header_branding{
	background-color: #F4941C;
	color: #FCDC14;
}
.custom_log_bg{
	background-color: white;
	color:#6e8C48;
}
.custom_sidebar_branding {
	background-color:#6e8C48;
	 color:white;
}

.custom_card_branding{
	background-color:#6e8C48;
	 color:white;
}
.custom_button_branding{
	background-color:#6e8C48;
	 color:white;
}
.customer_button_hover{
	background-color:#F4941C;
	 color:white;
}

.links_on_tab_branding{
	color:white;
}