<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>materialmanagement</display-name>
  <servlet>
    <servlet-name>AssetClassControllerServlet</servlet-name>
    <servlet-class>controller.AssetClassControllerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AssetClassControllerServlet</servlet-name>
    <url-pattern>/ACCS/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AssetCategoryControllerServlet</servlet-name>
    <servlet-class>controller.AssetCategoryControllerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AssetCategoryControllerServlet</servlet-name>
    <url-pattern>/ACACS/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AssetSubCatControllerServlet</servlet-name>
    <servlet-class>controller.AssetSubCatControllerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AssetSubCatControllerServlet</servlet-name>
    <url-pattern>/ASCCS/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UnitControllerServlet</servlet-name>
    <servlet-class>controller.UnitControllerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UnitControllerServlet</servlet-name>
    <url-pattern>/UCS/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AssetControllerServlet</servlet-name>
    <servlet-class>controller.AssetControllerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AssetControllerServlet</servlet-name>
    <url-pattern>/ACS/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>BudgetControllerServlet</servlet-name>
    <servlet-class>controller.BudgetControllerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BudgetControllerServlet</servlet-name>
    <url-pattern>/BCS/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LoginControllerServlet</servlet-name>
    <servlet-class>controller.LoginControllerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginControllerServlet</servlet-name>
    <url-pattern>/Auth/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RBACControllerServlet</servlet-name>
    <servlet-class>controller.RBACControllerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RBACControllerServlet</servlet-name>
    <url-pattern>/RBACS/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DepreciationControllerServlet</servlet-name>
    <servlet-class>controller.DepreciationControllerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DepreciationControllerServlet</servlet-name>
    <url-pattern>/DCS/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>StockControllerServlet</servlet-name>
    <servlet-class>controller.StockControllerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StockControllerServlet</servlet-name>
    <url-pattern>/SCS/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SupplierControllerServlet</servlet-name>
    <servlet-class>controller.SupplierControllerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SupplierControllerServlet</servlet-name>
    <url-pattern>/SUCS/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PurchaseOrderControllerServlet</servlet-name>
    <servlet-class>controller.PurchaseOrderControllerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PurchaseOrderControllerServlet</servlet-name>
    <url-pattern>/POCS/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DashboardManagementController</servlet-name>
    <servlet-class>controller.DashboardManagementController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DashboardManagementController</servlet-name>
    <url-pattern>/DMC/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SearchingServlet</servlet-name>
    <servlet-class>controller.SearchingServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchingServlet</servlet-name>
    <url-pattern>/SS/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AssetReturnControllerServlet</servlet-name>
    <servlet-class>controller.AssetReturnControllerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AssetReturnControllerServlet</servlet-name>
    <url-pattern>/ARCS/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>BranchLevelStatusChange</servlet-name>
    <servlet-class>controller.BranchLevelStatusChange</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BranchLevelStatusChange</servlet-name>
    <url-pattern>/BLSC/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AssetDisposalControllerServlet</servlet-name>
    <servlet-class>controller.AssetDisposalControllerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AssetDisposalControllerServlet</servlet-name>
    <url-pattern>/ADCS/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AssetTransferControllerServlet</servlet-name>
    <servlet-class>controller.AssetTransferControllerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AssetTransferControllerServlet</servlet-name>
    <url-pattern>/ATCS/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>loanApplicationServlet</servlet-name>
    <servlet-class>controller.loanApplicationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>loanApplicationServlet</servlet-name>
    <url-pattern>/LAS/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ReportingServlet</servlet-name>
    <servlet-class>controller.ReportingServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReportingServlet</servlet-name>
    <url-pattern>/RS/*</url-pattern>
  </servlet-mapping>
  <session-config>
    <session-timeout>15</session-timeout>
  </session-config>
</web-app>